<!DOCTYPE html>
<html>
<head>
      <title>App Client</title>
      <script data-require="jquery" data-semver="2.1.4" src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script type="text/css" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="style.css">
      <script type="text/javascript" src="script.js"></script>
</head>
<body>
  
        <div class="container">
        <h3>SignUp Form</h3>
        <hr>        
        Name<input type="text" id="signup_name" name="name"><br>
        Email<input type="text" id="singup_email" name="email"><br>
        Password<input type="password" id="signup_password" name="password"><br>
        <input type="button" name="Signup" value="SIGNUP" onclick="signup();">       
      </div>      
      <div class="container">
        <h3>LogIn Form</h3>        
        <hr>
        Email<input type="text" id="login_email" name="email"><br>
        Password<input type="password" id="login_password" name="password"><br>
        <input type="button" name="Signup" value="LOGIN" onclick="login();">
      </div>        

</body>
</html>